[submodule "lib/xeddsa"]
	path = lib/xeddsa
	url = https://pitchfork.ist/git/xeddsa.git
[submodule "lib/scalarmult"]
	path = lib/scalarmult
	url = https://pitchfork.ist/git/scalarmult.git
[submodule "lib/sphincs"]
	path = lib/sphincs
	url = https://pitchfork.ist/git/pitchforkedsphincs.git
[submodule "lib/newhope"]
	path = lib/newhope
	url = https://pitchfork.ist/git/newhope-cm3.git
[submodule "lib/goldilocks"]
	path = lib/goldilocks
	url = https://github.com/stef/ed448goldilocks.git
	branch = pitchfork
