[submodule "lib/xeddsa"]
	path = lib/xeddsa
	url = http://l6jhsd5aflooopjj.onion/git/xedds.git
[submodule "lib/scalarmult"]
	path = lib/scalarmult
	url = http://l6jhsd5aflooopjj.onion/git/scalarmul.git
[submodule "lib/sphincs"]
	path = lib/sphincs
	url = http://l6jhsd5aflooopjj.onion/git/pitchforkedsphincs.git
[submodule "lib/newhope"]
	path = lib/newhope
	url = http://l6jhsd5aflooopjj.onion/git/newhope-cm3.git
